[submodule "third-party/TERMS"]
	path = third-party/TERMS
	url = https://github.com/nano-optics/terms.git
[submodule "third-party/MSTM"]
	path = third-party/MSTM
	url = https://github.com/dmckwski/MSTM.git
[submodule "third-party/FaSTMM"]
	path = third-party/FaSTMM
	url = https://bitbucket.org/planetarysystemresearch/fastmm_v1.0.git
[submodule "third-party/CELES"]
	path = third-party/CELES
	url = https://github.com/disordered-photonics/celes.git
